# Auto detect text files and perform LF normalization
#* text=auto
*.js linguist-language=html
*.java linguist-language=Python
*.md linguist-language=Python
*.yml linguist-language=Python
*.html linguist-language=html
*.js linguist-language=html
*.xml linguist-language=html
*.css linguist-language=html
*.sql linguist-language=sql
*.uml linguist-language=Python
*.cmd linguist-language=Python
