<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body>
    <h3>删除服务</h3>

    <div class="">
        <form id="edit_form">
            {% csrf_token %}
            <div class="group hide" >
                <input id="sid" type="text" placeholder="SID" name="sid" value="{{ svc_info.sid }}" />
            </div>

            <div class="group">
                <input id="name" type="text" placeholder="服务" name="name" value="{{ svc_info.name }}" />
            </div>

            <br>

            <div>
                <a id="ajax_edit_submit" style="display: inline-block; padding: 5px; background: aqua; color:white">悄悄删除</a>
                <a href="{% url 'url_ops' 0 %}">
                    <input id = 'cancel' type="button" value="取消" />
                </a>
                <span id="error" style="background: red"></span>
            </div>
        </form>
    </div>

    <script src="/jquery-1.12.4.js"></script>
    <script>
        $(function () {
            $('#ajax_edit_submit').click(function () {

                $.ajax({
                    url: '{% url 'url_del_svc' svc_info.sid %}',
                    type: 'POST',
                    data: $('#edit_form').serialize(),
                    dataType: 'JSON',
                    traditional: true,
                    success: function (data) {
                        console.log(data);
                        if(data.status){
                            location.href = '{% url 'url_ops' 0 %}';
                        }else{
                            $('#error').text(data.error)
                            location.href = '{% url 'url_ops' 0 %}';
                        }
                    }
                })
            });
        })
    </script>
</body>
</html>