<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body>
    <h3>编辑服务配置信息</h3>

    <div class="">
        <form id="edit_form">
            {% csrf_token %}
            <div class="group hide" >
                <input sid="sid" type="text" placeholder="SID" name="sid" value="{{ svc_info.sid }}" />
            </div>

            <div class="group">
                <input id="name" type="text" placeholder="服务名称" name="name" value="{{ svc_info.name}}"/>
            </div>

            <div class="group">
                <input id="url" type="text" placeholder="url地址" name="url" value="{{ svc_info.url}}"/>
            </div>

            <div class="group hide" >
                <input sid="pid" type="text" placeholder="PID" name="pid" value="{{ password_info.id }}" />
            </div>

            <div class="group">
                <input id="user" type="text" placeholder="用户名" name="user" value="{{ password_info.user}}"/>
            </div>

            <div class="group">
                <input id="password" type="text" placeholder="密码" name="password" value="{{ password_info.password }}"/>
            </div>

            <div class="group">
                <select id="env_id" name="env_id">
                    {% for op in env_list %}
                        {% if op.id != svc_info.env_id_id %}
                            <option value={{ op.id }}>{{ op.name }}</option>
                        {% else %}
                            <option value={{ op.id }} selected="selected" >{{ op.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <br>

            <div>
                <a id="ajax_edit_submit" style="display: inline-block; padding: 5px; background: aqua; color:white">悄悄提交</a>
                <a href="{% url 'url_ops' 0 %}">
                    <input id = 'cancel' type="button" value="取消" />
                </a>
                <span id="error" style="background: red"></span>
            </div>
        </form>
    </div>

    <script src="/jquery-1.12.4.js"></script>
    <script>
        $(function () {
            $('#ajax_edit_submit').click(function () {

                $.ajax({
                    url: '{% url 'url_edit_svc' svc_info.sid %}',
                    type: 'POST',
                    data: $('#edit_form').serialize(),
                    dataType: 'JSON',
                    traditional: true,
                    success: function (data) {
                        console.log(data);
                        if(data.status){
                            location.href = '{% url 'url_ops' 0 %}';
                        }else{
                            $('#error').text(data.error)
                            location.href = '{% url 'url_ops' 0 %}';
                        }
                    }
                })
            });
        })
    </script>
</body>
</html>