{% extends 'base.html' %}

{% block main_ul %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'url_ops' %}">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title">业务环境</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title"></span>
        </a>
    </li>
    {% for row in env_data %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'url_ops' row.id %}">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">{{ row.name }}</span>
            </a>
        </li>
    {% endfor %}
{% endblock %}


{% block content %}
    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-description">
        </p>
        <form class="forms-sample" method="post" >
            {% csrf_token %}
            {% for field in form_obj %}
                <div class="form-group row {% if field.errors %}has-error{% endif %} ">
                    <label for="{{ field.id_for_label }}" class="col-lg-1 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-5">
                        {{ field }}
                    </div>
                    <span>{{ field.errors.0 }}</span>
                </div>
            {% endfor %}
            <label for="{{ field.id_for_label }}" class="col-lg-1 col-form-label"></label>
            <button type="submit" class="btn btn-primary mr-2">保存</button>
            <button class="btn btn-light">
                <a href="{% url 'url_ops' %}">取消</a>
            </button>
        </form>
    </div>
{% endblock %}

