{% extends 'base.html' %}

{% block main_ul %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'url_ops' %}">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title">业务环境</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title"></span>
        </a>
    </li>
    {% for row in env_data %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'url_ops' row.id %}">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">{{ row.name }}</span>
            </a>
        </li>
    {% endfor %}
{% endblock %}


{% block content %}
    <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-description">
        </p>
        <form class="forms-sample" method="post">
            {% csrf_token %}

            <div class="form-group row">
                <label for="name" class="col-lg-1 col-form-label">服务名称</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" placeholder="环境名称" name="name"
                           value={{ svc_info.name }}>
                </div>
            </div>

            <div class="form-group row">
                <label for="Url地址" class="col-lg-1 col-form-label">Url地址</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="url" placeholder="Url地址" name="sid"
                           value={{ svc_info.url }}>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-lg-1 col-form-label">用户名</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" placeholder="用户名" name="name"
                           value={{ svc_info.password_id.user }}>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-lg-1 col-form-label">用户密码</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" placeholder="用户密码" name="name"
                           value={{ svc_info.password_id.password }}>
                </div>
            </div>

            <div class="form-group row">
                <label for="env_id" class="col-lg-1 col-form-label">环境</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="env_id" placeholder="环境名称" name="env_id"
                           value={{ svc_info.env_id.name }}>
                </div>
                <span>{{ field.errors.0 }}</span>
            </div>


            <label class="col-lg-1 col-form-label"></label>
            <button type="submit" class="btn btn-primary mr-2">删除</button>
        </form>
        <button class="btn btn-light">
            <a href="{% url 'url_ops' eid %}">取消</a>
        </button>

    </div>
{% endblock %}

