{% extends 'base.html' %}

{% block title %}
    <title>管理后台</title>
{% endblock %}

{% block main_ul %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'url_ops' %}">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title">业务环境</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title"></span>
        </a>
    </li>
    {% for row in env_data %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'url_ops' row.id %}">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">{{ row.name }}</span>
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
    <!-- Default panel contents -->
    <div class="panel-heading">
        <a href="{% url 'url_add_svc' eid %}"> 添加服务 </a>
    </div>

    <br>

    <thead>
    <tr role="row">
        <th class="sorting_asc" tabindex="0"
            aria-controls="recent-purchases-listing" rowspan="1"
            colspan="1" aria-sort="ascending"
            aria-label="Name: activate to sort column descending"
            style="width: 224.828px;">序号
        </th>
        <th class="sorting" style="display:none" tabindex="0"
            aria-controls="recent-purchases-listing" rowspan="1"
            colspan="1"
            aria-label="Status report: activate to sort column ascending"
            style="width: 295.859px;">ID
        </th>
        <th class="sorting" tabindex="0"
            aria-controls="recent-purchases-listing" rowspan="1"
            colspan="1"
            aria-label="Office: activate to sort column ascending"
            style="width: 207.484px;">服务
        </th>
        <th class="sorting" tabindex="0"
            aria-controls="recent-purchases-listing" rowspan="1"
            colspan="1"
            aria-label="Price: activate to sort column ascending"
            style="width: 107.328px;">URL地址
        </th>
        <th class="sorting" tabindex="0"
            aria-controls="recent-purchases-listing" rowspan="1"
            colspan="1"
            aria-label="Date: activate to sort column ascending"
            style="width: 161.016px;">账户
        </th>
        <th class="sorting" tabindex="0"
            aria-controls="recent-purchases-listing" rowspan="1"
            colspan="1"
            aria-label="Gross amount: activate to sort column ascending"
            style="width: 225.234px;">密码
        </th>
        <th class="sorting" tabindex="0"
            aria-controls="recent-purchases-listing" rowspan="1"
            colspan="1"
            aria-label="Gross amount: activate to sort column ascending"
            style="width: 225.234px;">环境
        </th>
        <th class="sorting" tabindex="0"
            aria-controls="recent-purchases-listing" rowspan="1"
            colspan="1"
            aria-label="Gross amount: activate to sort column ascending"
            style="width: 225.234px;">操作
        </th>
    </tr>
    </thead>
    <tbody>

    {% for row in svc_data %}
        <tr role="row" class="odd" id="{{ row.sid }}">
            <td>{{ forloop.counter }}</td>
            <td id="sid" style="display:none">{{ row.sid }}</td>
            <td id="name">{{ row.name }}</td>
            <td id="url"><a href="http://{{ row.url }}" target="_blank" rel="noreferrer"> {{ row.url }} </a></td>
            <td id="user">{{ row.password_id.user }}</td>
            <td id="password">{{ row.password_id.password }}</td>
            <td id="env_name">{{ row.env_id.name }}</td>
            <td>
                <a class="edit" href="{% url 'url_edit_svc' eid row.sid %} ">编辑</a> |
                <a class="delete" href="{% url 'url_del_svc' eid row.sid %}">删除</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>

{% endblock %}




